<div id="<%= dom_id person %>" target="_top" >
  <p class="my-5">
    <strong class="block font-medium mb-1">Given name:</strong>
    <%= person.given_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Family name:</strong>
    <%= person.family_name %>
  </p>
</div>
<%= link_to 'Edit this person', edit_person_path(person), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
